<div class="weather-container">

  <h1>
    {{ languageService.getTranslations().title }}
  </h1>

  <div class="search-box">

    <input
      type="text"
      [placeholder]="languageService.getTranslations().cityPlaceholder"
      [(ngModel)]="city"
    >

    <button (click)="searchWeather()">
      {{ languageService.getTranslations().search }}
    </button>

  </div>

  <div
  class="spinner"
  *ngIf="loading"
  ></div>

  <div
  class="skeleton-card"
  *ngIf="loading"
></div>

  <div class="weather-card" *ngIf="weatherData">

    <h2>{{ weatherData.name }}</h2>

    <img
      [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
      alt="Ícone clima"
    >

    <h3>{{ weatherData.main.temp }} °C</h3>

    <p>{{ weatherData.weather[0].description }}</p>

    <div class="details">

      <p>
        💧 Humidade:
        {{ weatherData.main.humidity }}%
      </p>

      <p>
        🌬️ Vento:
        {{ weatherData.wind.speed }} m/s
      </p>

    </div>

    <div class="export-buttons">

      <button (click)="exportCSV()">
        Exportar CSV
      </button>

      <button (click)="exportPDF()">
        Exportar PDF
      </button>

    </div>

    <button (click)="saveFavorite()">
      ⭐ Favoritar
    </button>

  </div>

  <div class="favorites">

    <h3>Favoritos</h3>

    <ul>

      <li *ngFor="let city of favorites">

        {{ city }}

      </li>

    </ul>

  </div>

  <div class="history">

  <h3>Histórico</h3>

  <ul>

    <li *ngFor="let item of history">

      {{ item }}

    </li>

  </ul>

</div><div class="history">

  <h3>Histórico</h3>

  <ul>

    <li *ngFor="let item of history">

      {{ item }}

    </li>

  </ul>

</div>

<button (click)="openModal()">
  Ver detalhes
</button>

<div
  class="modal-overlay"
  *ngIf="showModal"
>

  <div class="modal-box">

    <h2>
      Detalhes do Clima
    </h2>

    <p>
      Cidade: {{ weatherData.name }}
    </p>

    <p>
      Temperatura:
      {{ weatherData.main.temp }} °C
    </p>

    <button (click)="closeModal()">
      Fechar
    </button>

  </div>

</div>

</div>